.containerSidebar {
  width: 12%;
  height: 96vh;
  background-color: hsl(0, 0%, 85%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  margin-right: 1.5rem;
}

.containerLogoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}

.title {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.containerLogoTitle > p {
  margin-left: 0.5rem;
}

.containerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
